<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="RptConnection" value="Data Source=JAGDISH-PC\;Initial Catalog=SSB_DB;Integrated Security=True"></add>-->
    <add key="RptConnection" value="Data Source=DESKTOP-84QJI6O\;Initial Catalog=SSB_DB;Integrated Security=True"></add>



  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SSB_DBEntities" connectionString="metadata=res://*/SSBModel.csdl|res://*/SSBModel.ssdl|res://*/SSBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-84QJI6O;initial catalog=SSB_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="SSB_DBEntities" connectionString="metadata=res://*/SSBModel.csdl|res://*/SSBModel.ssdl|res://*/SSBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAGDISH-PC;initial catalog=SSB_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>